<%= render :partial => "statics/pagamento" %> 

<br>
<br>
<table border="1">
  <tr>
    <th>Nome</th>
    <th>Cognome</th>
    <th>Nick</th>
    <th>Adulti</th>
    <th>Bambini</th>
    <th>Venerdi</th>
    <th>Sabato</th>
    <th>Pranzo domenica</th>
    <th>Offroad</th>
    <th>Confermato</th>
  </tr>

<% @partecipanti.each do |partecipante| %>
  <tr>
    <td><%=h partecipante.nome %></td>
    <td><%=h partecipante.cognome %></td>
    <td><%=h partecipante.nick %></td>
    <td><%=h partecipante.adulti %></td>
    <td><%=h partecipante.bambini %></td>
    <td><img src="/images/<%=h partecipante.venerdi %>.gif" alt="venerdi" /></td>
    <td><img src="/images/<%=h partecipante.sabato %>.gif" alt="sabato" /></td>
    <td><img src="/images/<%=h partecipante.pranzo_domenica %>.gif" alt="domenica" /></td>
    <td><img src="/images/<%=h partecipante.offroad %>.gif" alt="offroad" /></td>
    <td><img src="/images/<%=h partecipante.caparra %>.gif" alt="confermato" /></td>


  </tr>
<% end %>
</table>

<br />

<%= link_to 'ISCRIVITI', new_partecipante_path %>